
.d3-chart {
  width: 60%;
  height: 500px;
  float: left;

}

.d3-chart > span {
  padding-left: 40px;
  font-size: 18px;
  font-weight: bold;
}
 
.d3-chart .axis path,
.d3-chart .axis line {
  stroke: #999;
}
 
.d3-chart .axis text {
  fill: #999;
}

.axis path,
.axis line{
    fill: none;
    stroke: red;
    shape-rendering: crispEdges;
}

.chart-display {
  width:20%;
  height: 300px;
  display: inline-block;
}

.chart-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.h4-title {
  font-weight: bolder;
}

.table, .h4-title {
  margin-left: 40px;
  width: 32%;
}

.td-title {
  width:15%;
  text-align: right;
}

.td-value {
  width:35%;
  text-align: left;
}

.td-highlight {
  background: skyblue;
  /* font-weight: bold; */
  color: white;
  transition: .3s;
}

tbody > tr {
  cursor: pointer;
}
